.git
.github
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd

.aws
.env
.env.*

reports/*
screenshots/*
temp/*

terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
