temp/

# Generated audit reports
reports/*.json
reports/*.csv

# Python cache
__pycache__/
*.pyc

# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/*.tfvars
**/*.tfvars.json
**/*.tfplan
**/*.plan
